{% extends 'AppBundle::layout.html.twig' %}

{% set page_title = 'Ticket' %}

{% block content %}
    <table class="ticket">
        <tr>
            <th class="ticket">Ticket author:</th>
            <td>{{ ticket.ticketAuthor.username }}</td>
        </tr>

        <tr>
            <th class="ticket">Content:</th>
            <td>{{ ticket.content }}</td>
        </tr>

        <tr>
            <th class="ticket">Published at:</th>
            <td>{{ ticket.publishedAt |date('Y-m-d h:i:s')}}</td>
        </tr>

        <tr>
            <th class="ticket">Priority:</th>
            <td>{{ ticket.priority }}</td>
        </tr>
       
        <tr>
            <th class="ticket">Status:</th>
            <td>{{ ticket.status }}</td>
        </tr>

    </table>

    {% if isRoleAdmin == true %}
        <a class="button" href="{{ path('AppBundle_Ticket_ticketDelete', {'ticketId': ticketId}) }}">
            Delete this ticket?
        </a>
    {% endif %}

    <a class="button" href="{{ path('AppBundle_Ticket_ticketEdit', {'ticketId': ticketId}) }}">
        This ticket is outdated? Update.
    </a>
    <a class="button" href="{{ path('AppBundle_Ticket_commentAdd', {'ticketId': ticketId}) }}">
        You have something to say? Write a comment.
    </a>

    {% for comment in ticket.comments %}
        <table class="comment">
        <tr>
            <th>Comment author:</th>
            <td>{{ comment.commentAuthor.username }}</td>
        </tr>

        <tr>
            <th>Content:</th>
            <td>{{ comment.content }}</td>
        </tr>

        <tr>
            <th>Published at:</th>
            <td>{{ comment.publishedAt |date('Y-m-d h:i:s')}}</td>
        </tr>
        </table>
    {% else %}
        <div>
            <p>{{ "No comments" }}</p>
        </div>
    {% endfor %}
{% endblock %}
