{% extends 'AppBundle::layout.html.twig' %}

{% set page_title = 'Add' %}

{% block content %}
    <h1>Add a ticket</h1>
    {% if insert == false %}
        {{ form_start(form) }}
        {{ form_row(form.content, {'label' : 'Content'}) }}
        {{ form_row(form.priority, {'label' : 'Priority'}) }}
        {{ form_row(form.status, {'label' : 'Status'}) }}
        <input type="submit" value="Add">
        {{ form_end(form) }}
    {% else %}
        {% do form.setRendered() %}
        <h3>You created the ticket successfully!<h3>
        <a href="{{ path("AppBundle_Ticket_ticketList") }}">View all tickets</a>
    {% endif %}
{% endblock content %}